<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="assets/css/styles.css">

    </head>
    <body>
        {% block header %}
            <header class="container">
                <div class="logo">
                    <img src="assets/img/Logo.png" alt="">
                </div>
                <ul class="list">
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Cours</a></li>
                    <li><a href="">Ressources</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </header>
        {% endblock %}
        {% block main %}
            <section id='banner'>
                <div class="container banner">
                    <h1>Bienvenue sur Kids Learning</h1>
                    <a href="#" class="btn">Découvrir</a>
                </div>
            </section>
            <section id="temoin">
                <div class="container">
                    <p class="after">Aujourd'hui on est le 18/06/2025</p>
                    <h2>Témoignages</h2>
                    <p class="after">Découvrez ce que les gens disent de notre plateforme</p>
                </div>
                <div class="container card-container">
                    <div class="card">
                        <div class="pp"><img src="assets/img/parent-1.jpeg" class="pp-img" alt=""></div>
                        <p class="card-text"><i>"Ma fille a beaucoup appris grâce à cette plateforme. Les cours sont très informatifs et faciles à comprendre."</i></p>
                        <p class="grave"><strong>- Thérèse Dupont</strong></p>
                    </div>
                    <div class="card">
                        <div class="pp"><img src="assets/img/parent-2.jpeg" class="pp-img" alt=""></div>
                        <p class="card-text"><i>"Une excellente ressource pour l'apprentissage en ligne. Je la recommande à tout le monde!"</i></p>
                        <p class="grave"><strong>- Jean Curie</strong></p>
                    </div>
                    <div class="card">
                        <div class="pp"><img src="assets/img/parent-3.jpeg" class="pp-img" alt=""></div>
                        <p class="card-text"><i>"Les ressources disponibles sont très utiles et variées. Une plateforme indispensable pour l'éducation."</i></p>
                        <p class="grave"><strong>- Albert Dorne</strong></p>
                    </div>
                </div>
            </section>
        {% endblock %}
        {% block footer %}
            <footer>
                <div class="container">
                    <div class="logo logo-footer">
                        <img src="assets/img/Logo.png" alt="">
                    </div>
                    <p class="footer-text">Nous sommes ici pour répondre à vos questions et inquétudes.</p>
                    <p class="footer-text">info@kids-learning.fr</p>
                    <p class="footer-text">01 23 45 67 89</p>
                    <p><a href="">Formulaire de contact</a></p>
                </div>
                    <p class="footer-text">&copy 2023 Kids Learning. Tous droits réservés.</p>
            </footer>
        {% endblock %}
    </body>
</html>
